<?xml version="1.0" encoding="UTF-8"?>
<settings>
    <servers>
        <server>
            <id>mmaven-release-repo</id>
            <username>${AWS_USER}</username>
            <password>${AWS_PASSWORD}</password>
        </server>
        <server>
            <id>mmaven-snapshot-repo</id>
            <username>${AWS_USER}</username>
            <password>${AWS_PASSWORD}</password>
        </server>
    </servers>
</settings>
